* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: 'Poppins', sans-serif;
  background: #f2f2f2;
  color: #333;
}

.container{
    width: 100dvw;
    height: 100dvh;
    border: 2px solid red;
}


.insect{
    width: fit-content;
    height: fit-content;
    position: absolute;
    animation-timing-function:ease;
    animation-duration: 2s;
}
.insect_head{
    background-color: rgb(0, 128, 255);
    width: 20px;
    aspect-ratio: 1/1;
    border: 1px solid;
    border-radius: 50%;
    position: relative;
    z-index: 5;
    animation-timing-function:ease;
    animation-duration: 2s;

}
.insect_leg{
    position: absolute;
    width: 1px;
    height: 100px;
    top: -40px;
    left: 10px;
    background-color: black;
    z-index: 1;
    animation-timing-function:ease;
    animation-duration: 2s;
}

/* .leg_1{
}
.leg_2{
}
.leg_3{
}
.leg_4{
}
.leg_5{
}
.leg_6{
} */