* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: 'Poppins', sans-serif;
  background: #f2f2f2;
  color: #333;
}

.container{
    width: 100dvw;
    height: 100dvh;
    border: 2px solid red;
}


.insect{
    width: fit-content;
    height: fit-content;
    position: absolute;
    transition-duration: 1s;
}

.insect_head{
    width: 20px;
    aspect-ratio: 1/1;
    border: 1px solid;
    border-radius: 50%;
    position: relative;
    z-index: 5;
    animation-timing-function:ease;
    animation-duration: 2s;
    display: flex;
    justify-content: center;
    align-items: center;

}
.insect_leg{
    position: absolute;
    width: 1px;
    height: 100px;
    top: -40px;
    left: 10px;
    background-color: black;
    z-index: 1;
    transition-duration: 50ms;
}
